:root {
    --white: #fff;
    --transparent-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --dark-main: #42413c;
    --dark: #2a2626;
    --transparent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
    font-family: Neucha;
    src: url("./fonts/Neucha-Regular.ttf") format("truetype");
}

body {
    font: 16px/1.6em "Open Sans", sans-serif;
    color: #2A2626;
}

h1 {
    font-size: 72px;
    line-height: 1.2em;
}

h2 {
    font-size: 60px;
    line-height: 1.2em;
}

h3 {
    font-size: 34px;
    line-height: 1.2em;
}

.heading {
    font-family: Neucha;
}

header,
section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1110px;
    padding: 100px 0;
}
