:root {
    --white: #fff;
    --transparent-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --dark-main: #42413c;
    --dark: #2a2626;
    --transparent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Neucha;
    src: url("./fonts/Neucha-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font: 16px/1.6em "Open Sans", sans-serif;
    color: #2A2626;
}

h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2em;
}

h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2em;
}

h3 {
    font-size: 34px;
    line-height: 1.2em;
}

.heading {
    font-family: Neucha;
}

.orange-text {
    color: var(--main);
}

.columns {
    column-count: 2;
    column-gap: 30px;
}

.columns :first-child {
    margin-top: 0;
}

.columns p:last-of-type {
    margin-bottom: 0;
}

.button {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 24px;
    font-weight: 700;
    background-color: var(--main);
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.button:hover {
    background-color: #EA7600;
}

header,
section,
footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

header > div {
    z-index: 2;
    max-width: 1110px;
}

header {
    background-color: var(--light);
}

.header-image {
    position: absolute;
    top: 55px;
    right: -170px;
    z-index: 2;
    height: 525px;
}

.header-heading {
    margin-top: 0;
    margin-bottom: 185px;
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    content: "";
    background: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.video-section-heading {
    margin-top: 0;
    margin-bottom: 27px;
    text-align: center;
}

.video {
    position: absolute;
    bottom: -100px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.sub-heading {
    margin-bottom: 415px;
}




